<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Productos</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Nombre
              </th>
              <th>
                Descripcion
              </th>
              <th>
                Cantidad
              </th>
              <th>
                Precio
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  Cuaderno
                </td>
                <td>
                  cuaderno 100 hojas lineas
                </td>
                <td>
                  8
                </td>
                <td>
                  Q 4.50
                </td>
              </tr>
              <tr>
                <td>
                  hojas
                </td>
                <td>
                  25 hojas bond carta
                </td>
                <td>
                  15
                </td>
                <td>
                  Q 2.50
                </td>
              </tr>
              <tr>
                <td>
                  Cartulinas
                </td>
                <td>
                  Cartulina colores varios
                </td>
                <td>
                  10
                </td>
                <td>
                  Q 3.00
                </td>
              </tr>
              <tr>
                <td>
                  Borrador
                </td>
                <td>
                  borrador magico
                </td>
                <td>
                  7
                </td>
                <td>
                  Q 1.00
                </td>
              </tr>
              <tr>
                <td>
                  Cuaderno
                </td>
                <td>
                  cuaderno cuadros 70 hojas
                </td>
                <td>
                  8
                </td>
                <td>
                  Q 3.00
                </td>
              </tr>
              <tr>
                <td>
                  Crayones
                </td>
                <td>
                  Caja 12 colores
                </td>
                <td>
                  15
                </td>
                <td>
                  Q 7.50
                </td>
              </tr>
              <tr>
                <td>
                  Pegamento
                </td>
                <td>
                  superpegalotodo
                </td>
                <td>
                  8
                </td>
                <td>
                  Q 5.00
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
