<header style="margin-bottom: -2rem">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light sticky-top p-3"
    style="background-color: white !important"
  >
    <h1 class="text-light mt-3">
      <a href="Hero" style="font-size: medium">
        <img
          src="assets/img/logolibre.jpg"
          width="150"
          alt=""
          class="responsive mr-3"
        />
      </a>
    </h1>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto p-2 ml-auto">
        <a class="nav-link scrollto" href="#hero" style="font-size: medium"
          >Inicio</a
        >
        <a class="nav-link scrollto" href="#services" style="font-size: medium"
          >Nosotros</a
        >
        <a class="nav-link scrollto" href="#contact" style="font-size: medium"
          >Contactanos</a
        >
      </div>
      <a class="getstarted scrollto" routerLink="/signin">Iniciar Sesión</a>
    </div>
  </nav>
</header>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div
    class="container text-center position-relative"
    data-aos="fade-in"
    data-aos-delay="200"
  >
    <h1>De todo en Libreria</h1>
    <h2></h2>
    <a href="#portfolio" class="btn-get-started scrollto">Productos</a>
  </div>
</section>
<!-- End Hero -->
<main id="main">
  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="section-title" data-aos="fade-right">
            <h2>Nosotros</h2>
            <p></p>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="far fa-dot-circle"></i></div>
                <h4><a href="#">MISION</a></h4>
                <p>
                  Satisfacer íntegramente las necesidades de nuestros clientes, ofreciendo el mayor surtido de libros de texto, lectura e innovación digital.  Satisfaciendo las necesidades de la comunidad educativa con una amplia gama de editoriales para garantizar el aprendizaje y fomentar el amor a la lectura en el público en general.
                </p>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="far fa-eye"></i></div>
                <h4><a href="#">VISION</a></h4>
                <p>
                  Ser la librería líder en el Sur occidente de Guatemala en la venta y distribución de libros de textos, libros de lectura en general, plataformas digitales, tanto de editoriales nacionales como extranjeras, reconocida por la calidad de nuestro servicio y la contribución a la comunidad educativa.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->
  <section id="cta" class="cta">
    <div class="container">
      <div class="text-center" data-aos="zoom-in">
        <h3 style="font-size: xx-large">Lo que hacemos, lo hacemos bien</h3>
        <p style="font-size: xx-large">!Brindando el mejor servicio!</p>
        <a class="cta-btn" href="#">Servicio a Domicilio</a>
      </div>
    </div>
  </section>

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title" data-aos="fade-right">
            <h2>Valores</h2>
            <p></p>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-md-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><i class="fas fa-hand-sparkles"></i></div>
                <h4><a href="#">Servicio</a></h4>
                <p>
                  Brindamos el mejor servicio a nuestros clientes asesorándolos
                  e informándolos sobre las características de nuestros
                  productos para satisfacer sus necesidades y deseos.
                </p>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><i class="fas fa-star"></i></div>
                <h4><a href="#">INNOVACIÓN</a></h4>
                <p>
                  Buscar, imaginar, crear, enseñar y deleitar. Libertad para expresar nuestras ideas.
                </p>
              </div>
            </div>

            <div class="col-md-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon"><i class="fas fa-check"></i></div>
                <h4><a href="#">PASIÓN</a></h4>
                <p>
                  Hacer las cosas con amor y cariño. Dar el 100% de nuestro esfuerzo.- Compromiso en cuerpo, mente y alma.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <div class="section-title">
            <h2>Contacto</h2>
          </div>
          <p>
            Ofrece el  mas, amplio, surtido, libros desde su fundación  se ha propuesto ser un lugar donde  puedes encontrar el último libro de tu autor favorito, o hacer un descubrimiento que no se esperaba. 
          </p>
          <p>
            SERVICIO A DOMICILIO llamando al 4570-7541. *aplican restricciones
          </p>
        </div>

        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
          <div class="info mt-4">
            <i class="fas fa-route"></i>
            <h4>Ubicación:</h4>
            <p>Quetzaltenango, Guatemala</p>
          </div>
          <div class="row">
            <div class="col-lg-6 mt-4">
              <div class="info">
                <i class="fas fa-envelope"></i>
                <h4>Correo:</h4>
                <p>SuperLibreria@gmail.com</p>
                <p>miLibreriaGT@gmail.com</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info w-100 mt-4">
                <i class="fas fa-phone"></i>
                <h4>Teléfono:</h4>
                <p>+502 7761-7902</p>
                <p>+502 4570-7541</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
</main>
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container pt-3">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-8">
        <div class="me-md-auto text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Super Libreria</span></strong
            >. Todos los derechos reservados
          </div>
          <div class="credits">
            Diseñado por <a href="https://www.facebook.com/jony.manuel.14"> Jonatan Roldan </a>
            y <a href="https://www.facebook.com/jony.manuel.14"> Fernando Diaz </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg">
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a
            href="https://www.facebook.com/MiSuperTostada/"
            target="_blank"
            class="btn btn-primary btn-circle btn-lg"
          >
            <i class="bx bxl-facebook"></i>
          </a>
          <a
            href="https://www.instagram.com/misupertostada/"
            target="_blank"
            class="btn btn-primary btn-circle btn-lg"
            ><i class="bx bxl-instagram"></i
          ></a>
          <a
            href="https://api.whatsapp.com/send?phone=50245707541."
            target="_blank"
            class="btn btn-primary btn-circle btn-lg"
            ><i class="bx bxl-whatsapp"></i
          ></a>
          <a href="home" class="btn btn-primary btn-circle btn-lg scrollto">
            <i class="fas fa-arrow-up"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
